# Pandas. Полезности

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Основы

In [2]:
diam = sns.load_dataset('diamonds')
diam.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [3]:
df = pd.read_csv('train.csv')

In [4]:
diam.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [5]:
diam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [6]:
diam.describe() #для числовых значений

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
diam.describe(include = ['category']) #для категориальных или других (смотрим по типу в info() или dtypes)

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [8]:
diam['cut'].unique() #уникальные значения в столбце

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']

In [9]:
diam['cut'].nunique() #кол-во уникальных значений в столбце

5

### Фильтрация

In [10]:
new2 = diam.query('depth > 65') #отбор по значениям в столбцах
new2

       carat   cut color clarity  depth  table  price     x     y     z
8       0.22  Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
42      0.26  Good     D     VS2   65.2   56.0    403  3.99  4.02  2.61
97      0.96  Fair     F     SI2   66.3   62.0   2759  6.27  5.95  4.07
124     0.70  Fair     F     VS2   65.3   55.0   2762  5.63  5.58  3.66
129     0.91  Fair     H     SI2   65.7   60.0   2763  6.03  5.99  3.95
...      ...   ...   ...     ...    ...    ...    ...   ...   ...   ...
53727   0.78  Fair     E     SI2   66.9   57.0   2721  5.70  5.66  3.60
53800   0.90  Fair     I     VS1   68.7   62.0   2732  5.83  5.79  3.99
53863   1.00  Fair     I     SI2   66.8   56.0   2743  6.22  6.12  4.13
53879   1.04  Fair     G     SI2   65.2   57.0   2745  6.25  6.23  4.07
53882   0.71  Fair     D     VS1   65.4   59.0   2747  5.62  5.58  3.66

[835 rows x 10 columns]

In [11]:
new3 = new2.query('y > x') #отбор через сравнение значений в различных столбцах одной строки
new3

       carat   cut color clarity  depth  table  price     x     y     z
42      0.26  Good     D     VS2   65.2   56.0    403  3.99  4.02  2.61
333     0.70  Good     G     VS1   65.1   58.0   2803  5.56  5.59  3.63
874     0.84  Good     G     SI1   65.1   55.0   2872  5.88  5.97  3.86
1682    0.77  Fair     F     VS1   66.8   57.0   3031  5.66  5.76  3.82
1768    0.73  Fair     D     VS1   66.0   54.0   3047  5.56  5.66  3.70
...      ...   ...   ...     ...    ...    ...    ...   ...   ...   ...
52848   0.70  Fair     G     VS2   66.5   57.0   2575  5.40  5.46  3.61
53182   0.71  Good     E     SI1   65.9   57.0   2631  5.51  5.57  3.65
53272   0.75  Fair     F     VS2   65.4   58.0   2648  5.63  5.68  3.70
53356   0.70  Good     E     VS1   65.5   57.0   2657  5.46  5.54  3.60
53386   0.80  Good     G     SI1   65.3   57.0   2662  5.78  5.85  3.80

[125 rows x 10 columns]

In [12]:
new4 = new3.filter(['x', 'ln_price']) #оставляем только определенные столбцы
new4

          x
42     3.99
333    5.56
874    5.88
1682   5.66
1768   5.56
...     ...
52848  5.40
53182  5.51
53272  5.63
53356  5.46
53386  5.78

[125 rows x 1 columns]

In [13]:
diam.sort_values(by='x', ascending=False) # ascending=True сортировка от меньшего к большему

       carat        cut color clarity  depth  table  price      x      y     z
27415   5.01       Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50       Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
25998   4.01    Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
25999   4.01    Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
26444   4.00  Very Good     I      I1   63.3   58.0  15984  10.01   9.94  6.31
...      ...        ...   ...     ...    ...    ...    ...    ...    ...   ...
11963   1.00  Very Good     H     VS2   63.3   53.0   5139   0.00   0.00  0.00
15951   1.14       Fair     G     VS1   57.5   67.0   6381   0.00   0.00  0.00
11182   1.07      Ideal     F     SI2   61.6   56.0   4954   0.00   6.62  0.00
49556   0.71       Good     F     SI2   64.1   60.0   2130   0.00   0.00  0.00
49557   0.71       Good     F     SI2   64.1   60.0   2130   0.00   0.00  0.00

[53940 rows x 10 columns]

#### iloc

In [14]:
diam.iloc[45:50, [0,4]]

    carat  depth
45   0.29   62.4
46   0.32   61.8
47   0.32   63.8
48   0.25   63.3
49   0.29   60.7

#### loc

In [15]:
diam.loc[45:50, ['carat','depth']]

    carat  depth
45   0.29   62.4
46   0.32   61.8
47   0.32   63.8
48   0.25   63.3
49   0.29   60.7
50   0.24   60.9

In [16]:
diam.loc[diam['cut'] == 'Ideal', ['carat', 'y']]

       carat     y
0       0.23  3.98
11      0.23  3.90
13      0.31  4.37
16      0.30  4.34
39      0.33  4.51
...      ...   ...
53925   0.79  5.97
53926   0.71  5.73
53929   0.71  5.73
53935   0.72  5.76
53939   0.75  5.87

[21551 rows x 2 columns]

In [17]:
diam[(diam['cut']=='Ideal') & (diam['carat']>1)] #более одного фильтра (фильтр и, и)

       carat    cut color clarity  depth  table  price     x     y     z
653     1.01  Ideal     I      I1   61.5   57.0   2844  6.45  6.46  3.97
715     1.02  Ideal     H     SI2   61.6   55.0   2856  6.49  6.43  3.98
865     1.02  Ideal     I      I1   61.7   56.0   2872  6.44  6.49  3.99
918     1.02  Ideal     J     SI2   60.3   54.0   2879  6.53  6.50  3.93
992     1.01  Ideal     I      I1   61.5   57.0   2896  6.46  6.45  3.97
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
27741   2.15  Ideal     G     SI2   62.6   54.0  18791  8.29  8.35  5.21
27746   2.07  Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27747   1.51  Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
51812   1.01  Ideal     I      I1   61.6   56.0   2416  6.45  6.43  3.97
53081   1.02  Ideal     J     SI2   61.6   55.0   2611  6.49  6.43  3.98

[5662 rows x 10 columns]

In [18]:
diam[(diam['cut']=='Ideal') | (diam['cut']=='Premium')] #фильтр или, или

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [19]:
diam[diam['x']>0]

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53932 rows x 10 columns]

### Бинаризация

In [20]:
diam.assign(price_cat=pd.cut(diam['price'], bins=3, labels=['cheap', 'medium', 'pricy']))  #бинаризация в столбце

,carat,cut,color,clarity,depth,table,price,x,y,z,price_cat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,cheap
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,cheap
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,cheap
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,cheap
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,cheap
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,cheap
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,cheap
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,cheap
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,cheap
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,cheap

In [21]:
diam['price'] = pd.cut(diam['price'], bins=5, labels=['very cheap', 'cheap', 'medium', 'expensive', 'elite'])
diam

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,very cheap,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,very cheap,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,very cheap,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64

## Переименовать значение

In [22]:
diam.rename(columns={"x": "iks", "y": "igrek"}) #переименовать столбцы (Без inplace = True не преобразует просто так)

,carat,cut,color,clarity,depth,table,price,iks,igrek,z
0,0.23,Ideal,E,SI2,61.5,55.0,very cheap,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,very cheap,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,very cheap,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64

In [23]:
diam['cut'].str.replace('Good', 'Bad')

0           Ideal
1         Premium
2             Bad
3         Premium
4             Bad
           ...
53935       Ideal
53936         Bad
53937    Very Bad
53938     Premium
53939       Ideal
Name: cut, Length: 53940, dtype: object

In [24]:
diam.replace('E', 'Exp')

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.23,Ideal,Exp,SI2,61.5,55.0,very cheap,3.95,3.98,2.43
1,0.21,Premium,Exp,SI1,59.8,61.0,very cheap,3.89,3.84,2.31
2,0.23,Good,Exp,VS1,56.9,65.0,very cheap,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64

In [25]:
diam.replace({'Ideal': 1,
              'Fair': 0})

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.23,1,E,SI2,61.5,55.0,very cheap,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,very cheap,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,very cheap,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,1,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74
53939,0.75,1,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64

### Создание столбцов

In [27]:
new5 = diam.assign(ln_depth = np.log(diam['depth'])) #создание столбца
new5

,carat,cut,color,clarity,depth,table,price,x,y,z,ln_depth
0,0.23,Ideal,E,SI2,61.5,55.0,very cheap,3.95,3.98,2.43,4.119037
1,0.21,Premium,E,SI1,59.8,61.0,very cheap,3.89,3.84,2.31,4.091006
2,0.23,Good,E,VS1,56.9,65.0,very cheap,4.05,4.07,2.31,4.041295
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63,4.133565
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75,4.147885
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50,4.107590
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61,4.144721
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56,4.139955
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74,4.110874
53939,0.75,Ideal,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64,4.130355

In [28]:
diam['cut2'] = diam['cut'].str.contains('Good') #бинарная переменная проверяющая наличие значения в столбце
diam

,carat,cut,color,clarity,depth,table,price,x,y,z,cut2
0,0.23,Ideal,E,SI2,61.5,55.0,very cheap,3.95,3.98,2.43,False
1,0.21,Premium,E,SI1,59.8,61.0,very cheap,3.89,3.84,2.31,False
2,0.23,Good,E,VS1,56.9,65.0,very cheap,4.05,4.07,2.31,True
3,0.29,Premium,I,VS2,62.4,58.0,very cheap,4.20,4.23,2.63,False
4,0.31,Good,J,SI2,63.3,58.0,very cheap,4.34,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,very cheap,5.75,5.76,3.50,False
53936,0.72,Good,D,SI1,63.1,55.0,very cheap,5.69,5.75,3.61,True
53937,0.70,Very Good,D,SI1,62.8,60.0,very cheap,5.66,5.68,3.56,True
53938,0.86,Premium,H,SI2,61.0,58.0,very cheap,6.15,6.12,3.74,False
53939,0.75,Ideal,D,SI2,62.2,55.0,very cheap,5.83,5.87,3.64,False

### Создание аггрегированных таблиц

In [29]:
#создание агрегированной таблицы для каждого значения параметра по всем интересующим нас параметрам
diam2 = (diam.groupby('cut')
    .agg(av_x=('x', np.mean),
        min_x=('x', np.min),
        max_weight=('carat', np.max))
    .reset_index())
diam2

         cut      av_x  min_x  max_weight
0      Ideal  5.507451    0.0        3.50
1    Premium  5.973887    0.0        4.01
2  Very Good  5.740696    0.0        4.00
3       Good  5.838785    0.0        3.01
4       Fair  6.246894    0.0        5.01

In [30]:
diam.groupby('color')['depth'].agg(['mean','median'])

            mean  median
color
D      61.698125    61.8
E      61.662090    61.8
F      61.694582    61.8
G      61.757111    61.8
H      61.836850    61.9
I      61.846385    61.9
J      61.887215    62.0

In [31]:
diam.groupby('color')['x'].mean().sort_values()

color
E    5.411580
D    5.417051
F    5.614961
G    5.677543
H    5.983335
I    6.222826
J    6.519338
Name: x, dtype: float64

In [32]:
#можно использовать матрицу зависимостей, чтобы сравнивать некоторую статистику параметра для мультиклассовых переменных
diam.pivot_table(columns='color', index='cut', values='x', aggfunc='mean')

color,D,E,F,G,H,I,J
cut,,,,,,,
Ideal,5.186704,5.215762,5.408751,5.511214,5.731377,5.976197,6.320045
Premium,5.599869,5.587116,5.876692,5.864254,6.244508,6.489531,6.809975
Very Good,5.501210,5.432467,5.610504,5.660204,5.982286,6.272259,6.460782
Good,5.620076,5.617889,5.693443,5.850264,5.968789,6.253544,6.377003
Fair,6.018344,5.909063,5.990513,6.173822,6.579373,6.564457,6.747311

### Разбиение на категориальные и числовые фичи

In [36]:
num_cols = diam.columns[diam.dtypes != 'category'].tolist() #здесь обычно != object
cat_cols = diam.columns[diam.dtypes == 'category'].tolist()

In [37]:
cat_cols

['cut', 'color', 'clarity', 'price']

In [38]:
num_cols

['carat', 'depth', 'table', 'x', 'y', 'z', 'cut2']

### Get dummies

In [40]:
diam2 = pd.get_dummies(diam[cat_cols], drop_first=True)
diam3 = diam[num_cols].join(diam2)
diam3

,carat,depth,table,x,y,z,cut2,cut_Premium,cut_Very Good,cut_Good,...,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1,price_cheap,price_medium,price_expensive,price_elite
0,0.23,61.5,55.0,3.95,3.98,2.43,False,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0.21,59.8,61.0,3.89,3.84,2.31,False,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0.23,56.9,65.0,4.05,4.07,2.31,True,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,0.29,62.4,58.0,4.20,4.23,2.63,False,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0.31,63.3,58.0,4.34,4.35,2.75,True,0,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,5.75,5.76,3.50,False,0,0,0,...,0,0,0,1,0,0,0,0,0,0
53936,0.72,63.1,55.0,5.69,5.75,3.61,True,0,0,1,...,0,0,0,1,0,0,0,0,0,0
53937,0.70,62.8,60.0,5.66,5.68,3.56,True,0,1,0,...,0,0,0,1,0,0,0,0,0,0
53938,0.86,61.0,58.0,6.15,6.12,3.74,False,1,0,0,...,0,0,0,0,1,0,0,0,0,0
53939,0.75,62.2,55.0,5.83,5.87,3.64,False,0,0,0,...,0,0,0,0,1,0,0,0,0,0